<footer class="site-footer">

  <div class="wrapper">

    <center>
        
		<p><a class="link" href="{{ site.baseurl }}/archive/">博文</a> /
		<a class="link" href="{{ site.baseurl }}/category/">类别</a> / 
		<a class="link" href="{{ site.baseurl }}/tags/">标签</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
    </center>
    
  </div>

</footer>
